[Unit]
Description=Periodic trigger for config-watch instance: %i

[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
AccuracySec=1s

[Install]
WantedBy=timers.target
